main {
  border: 1px solid black;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}

input#passWord {
  margin-top: 200px;
  margin-bottom: 5px;
}

input {
  border-radius: 50px;
  caret-color: blue;
}

input#sub {
  background: yellowgreen;
  border: none;
  border-radius: 50px;
}
